

 <!-- InstaWidget -->




<div class="row">
  <div class="col-12  col-md-10 offset-md-1 text-center footer-col">
    <hr />
<footer class="footer">
&copy; <small> Brad Langshaw Software Development</small>
</footer>
</div>  
</div>
</div>   
   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="../javascripts/jquery-3.4.1.min.js"></script>
<script src="../javascripts/popper.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/modernizr.js"></script>
<script src="../javascripts/particles.min.js"></script>
    <script src="../javascripts/app.js"></script>
    <script src="https://use.fontawesome.com/e9e838c046.js"></script>
    <script src="../javascripts/contactme.js"></script>
  </body>
</html>