<% include ./partials/header.ejs %>
</div>
<div id="particles-js"></div>
<div class="container-fluid" id="main-container">
<div class="row" id="main">
<!-- <div class="col-12 col-md-5 offset-md-1 text-right">
    
</div> -->
<div class="col-12 col-md-10 offset-md-1 faded-back p-2">
        <img id="MePic" class="p-4 floated" width="35%" src="../images/bradlangshaw.jpg" alt="Logo"></img>
        <div class="p-4">
    <h1>Brad Langshaw</h1>
    <h4 >Software Developer</h4>
    <h5 ><%= title %></h5>

    <p class="articleParagraph">
            Hi, My name is Bradley Langshaw. I am from Ontario, and I have spent the last 7 years becoming a generalized software developer. I have spent this time working with and learning about many different coding languages. I grew up loving computer hardware and software. I do my best to build applications that work best on the end users hardware. I have also done some schooling in general business and travel and tourism. I am able to utilize my skills from all of these experiences to work on a team and better understand users, work with designers and understand client needs.
</p>
</div>
<div class="p-4">
                    <h4 >Knowledge & Skill Base</h4>
                    <p class="articleParagraph p-4">
                            PHP, MySQL, Microsoft Sql Server, WordPress, Bootstrap, HTML, CSS, JavaScript, Android, IOS – Swift, C++, ASP.Net, Azure, MongoDB, jQuery, Ruby on Rails, VB.Net, WinForms, DevExpress, Linux, Adobe Creative Cloud
                                            </p> 
            </div>
            </div>
                
            </div>
            </div>  
            <div class="container-fluid" >
<% include ./partials/footer.ejs %>