<% include ./partials/header.ejs %>
  <article class="col-xs-12 col-sm-12 col-md-6 offset-md-1 col-lg-6 offset-lg-1">
    <form>
    <div class="col-md-6 col-lg-6">
    <label for="articleHeader">Artlicle Header</label>
    <label for="dateAndAuthor">Date and Author</label>
    <label for="articleParagraphInput">Article Content</label>
    <label for="articleParagraphInput">Article Content</label>
    <input id="articleHeader" placeholder="Type The Title of The Article Here"></input>
    <input id="dateAndAuthor" placeholder="Type The Title of The Article Here"></input>    
    <textarea class="col-md id articleParagraphInput" placeholder="Type Content here"></textarea>
    <aside>
    <h2>Insert YouTube Embeded Video Link Below</h2>
    <input id="YoutubeEmbInput" placeholder="Insert <iframe> here"></input>
    </aside>
    </div>
    </form>
    </article>
<% include ./partials/footer.ejs %>